<h3 id="" data-id="{{place._id}}">{{place.name}}</h3>
<p>{{place.type}}</p>
<a href="/places/{{place._id}}/edit">Edit this place</a><br>
<a href="/places">Back to the list</a><br>
<a href="/">Back home</a>